<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="antialiased flex items-center justify-center h-screen w-max-width bg-gradient-to-r from-blue-500 to-green-500">
    <div class="flex flex-col w-8/12 p-6 items-center">
        <div class="w-4/12 bg-purple-300 align-center rounded-xl">
            <p class="flex justify-center p-4">Inicio de sesión</p>
            <div class="grid grid-rows-2 p-4 pt-0 gap-4 justify-items-center">
                <input type="text" name="user" id="user" placeholder="Ingrese usuario"
                    class="rounded-md w-auto p-3">
                <input type="text" name="password" id="password" placeholder="Ingrese Contraseña"
                    class="rounded-md h-md w-auto p-3">
            </div>
        </div>
    </div>
</body>
</html>